*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: plum;
    height: 50px;
    margin: 10px 0px;
    display: grid;
    place-items: center;

}
.box{
    height: 120px;
}
.box>.container>ul{
    width: 50%;
    background-color:black;
    display: flex;
    justify-content: space-between;
}
.box>.container>ul>li{
    list-style: none;
}
.box>.container>ul>li>:active{
    background-color: green;
}
.box>.container>ul>li>a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 10px;
    text-align: center;
    float: inline-end;
}